@tailwind base;
@tailwind components;
@tailwind utilities;
*, ::before, ::after {
  box-sizing: border-box;
}
.getdark {
  background: linear-gradient(#410509, #070627);
}
.dark {
  background: #070627;
}

body {
  background: #070709;

}

.parallax-container {
  background-size: cover;
  background-position: center;
}
.clipper {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.glow {
  animation: glow 10s infinite ease-in-out;
}
@keyframes glow {
  0% {filter: grayscale(1)}
  50% {filter: grayscale(0)}
  100% {filter: grayscale(1)}
}